<div class="buttons pull-right">
    <a class="pointer-cursor edit" data-id="@ViewData["id"]">
        <i class="fa fa-edit"></i>
    </a>
    <a class="pointer-cursor delete" data-id="@ViewData["id"]">
        <i class="fa fa-times"></i>
    </a>
</div>
