body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 15px; 
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.list-group {
    padding-top: 20px;
}

.list-group .modal-content {
    margin-bottom: 10px!important; 
    border-radius: 0!important;
    min-height: 250px!important; 
}

.title {
    border-bottom: 1px solid grey!important;
    margin-bottom: 2px!important;
}

.tex-description {
    min-height: 200px;
}

.title .buttons {
    position: relative;
    top: -50px;
    z-index: 1000; 
}

.pointer-cursor {
    cursor: pointer;
}

.buttons a i.fa-times {
    position: relative;
    font-size: 18px;
    top: 2px;
}